/* Global styles */
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
form,
header,
nav,
section,
summary,
video {
  margin: 0.25rem 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
  vertical-align: baseline;
<<<<<<< HEAD
  color: #312002;
  background-color: #fdecce;
=======
>>>>>>> parent of 10152d0 (started styling elements)
}

header,
nav,
section {
  display: block;
}

body {
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  margin: -1rem;
=======
>>>>>>> parent of 10152d0 (started styling elements)
}

h1 {
  font-size: 2.5rem;
  padding-top: 10rem;
  text-align: center;
}

h2 {
  font-size: 2.25rem;
}

p {
  margin: 1rem 0 1.5rem 0;
}

<<<<<<< HEAD
main {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

section {
  margin: 2rem 0;
}

/* Header */
header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 2rem 0;
}

nav {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 20rem;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3s;
}

a:hover {
  border-bottom: 0.25rem solid #f4a20b;
}

/* Features */
.material-icons {
  color: #f4a20b;
  font-size: 5rem;
  padding-right: 3rem;
}

.feature {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

/* How it works */
#how-it-works {
  text-align: center;
}

video {
  width: 100%;
}

/* Get in touch */

form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#email {
  background-color: #fdecce;
  border-radius: 0.5rem;
  width: 45%;
  color: #312002;
  border: 1px solid #312002;
  padding: 0 0.5rem;
}

#submit {
  width: 45%;
  background-color: #f4a20b;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: inset rgba(249, 203, 119, 0.5) 1.95px 1.95px 2.6px,
    rgba(122, 81, 5, 0.5) 1.95px 1.95px 2.6px;
  border: none;
=======
#nav-bar {
  position: fixed;
>>>>>>> parent of 10152d0 (started styling elements)
}

/* Media queries */
@media (max-width: 1440px) {
  main {
    width: 60vw;
  }

  nav {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  main {
    width: 80vw;
  }
}
